@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap'); */

/* Variables */
:root {
    --c-brand: #ea6103;
    --c-brand-rgb: 255, 165, 0;
    --c-brand-alt: #115833;
    --c-brand-alt-rgb: 17, 88, 51;
    --c-dark: #0e0f0d;
    --c-body: #838383;
    --f-main: "Inter";
    --transition: all .6s cubic-bezier(.165, .84, .44, 1);
    --shadow: 0px 15px 40px rgba(0, 0, 0, 0.1);
}

/* Reset & Helpers*/
body {
    padding: 0;
    margin: 0;
    font-family: var(--f-main);
    color: var(--c-body);
    line-height: 1.7;
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
    font-weight: 700;
    color: var(--c-dark);
}

a {
    text-decoration: none;
    color: var(--c-dark);
    transition: var(--transition);
}

a:hover {
    color: var(--c-brand);
}

img {
    width: 100%;
}

.section-padding {
    padding-top: 120px;
    padding-bottom: 120px;
}

.section-sub-padding {
    padding-top: 60px;
}

.text-brand {
    color: var(--c-brand);
}

.section-title {
    max-width: 560px;
    margin: 0 auto 60px auto;
}

.section-title .line {
    width: 60px;
    height: 2px;
    background-color: var(--c-brand);
    display: inline-block;
    justify-items: center;
}

.section-connector {
    position: relative;
    z-index: 100;
}

.section-connector::after {
    content: '';
    width: 2px;
    height: 100px;
    background-color: var(--c-brand);
    position: absolute;
    top: -30px;
    left: 50%;
}

/* Navbar */
.navbar {
    padding-top: 30px;
    padding-bottom: 30px;
    transition: var(--transition);
}

.navbar.scrolled {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: white;
    box-shadow: var(--shadow);
}

.navbar .navbar-nav .nav-link {
    font-weight: 800;
    color: var(--c-dark);
}

.navbar .navbar-nav .nav-link:hover, .navbar .navbar-nav .nav-link.active {
    color: var(--c-brand);
}

.navbar-brand {
    font-size: 24px;
    font-weight: 700;
    color: var(--c-dark);
}

.navbar-brand img {
    height: 30px;
    object-fit: contain;
}

.social-icon {
    width: 36px;
    height: 36px;
    background-color: var(--c-brand);
    color: white;
    border: 2px solid var(--c-brand);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-right: 6px;
}

.social-icon:hover {
    background-color: transparent;
}

#yelp-icon {
    padding: 25%;
    filter: invert(1);
}

/* Button */
.btn {
    padding: 10px;
    border-radius: 0;
    border-width: 2px;
    font-weight: 500;
}

.btn-brand, .btn-brand:focus {
    background-color: var(--c-brand);
    color: white;
    border-color: var(--c-brand);
}

.btn-brand:hover {
    background-color: transparent;
    color: var(--c-brand);
    border-color: var(--c-brand);
}

/* Home */

/* Showcase */

.showcase {
    position: relative;
    right: 0;
    width: 100%;
    min-height: 100vh;
    padding-left: 12.5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: black;
    color: white;
    z-index: 2;
}

.showcase header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.showcase video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    opacity: .65;
}

.showcase .text {
    position: relative;
    z-index: 10;
}

.showcase .text h2 {
    font-size: 5em;
    font-weight: 800;
    line-height: 1em;
    text-transform: uppercase;
}

.showcase .text h3 {
    color: white;
    font-size: 2.5em;
    font-weight: 700;
    line-height: 1em;
    text-transform: uppercase;
}

.showcase .text p {
    color: white;
    font-size: 1.1em;
    font-weight: 800;
    max-width: 700px;
    margin: 20px 0;
}


.showcase .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh;
    background: rgba(0, 0, 0, 0);
}

.showcase #disclaimer-text {
    font-size: .75rem;
    font-weight: 100;
    font-style: italic;
}

#btn-showcase:hover {
    background-color: white;
    color: var(--c-brand);
    border-color: white;
}

/* Services */
.service-icon {
    width: 60px;
    height: 60px;
    background-color: var(--c-brand);
    color: white;
    font-size: 28px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.custom-link {
    display: inline-flex;
    align-items: center;
}

.custom-link span {
    font-weight: 700;
}

.custom-link i {
    width: 24px;
    height: 24px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: var(--c-brand);
    border-radius: 100px;
    color: white;
    margin-left: 6px;
    transition: var(--transition);
}

.custom-link:hover i {
    transform: translateX(5px);
}

/* Project */
.project {
    overflow: hidden;
    position: relative;
}

.project .content {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: var(--c-brand);
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.project img {
    max-height: 275px;
}

.project img, .project .content {
    transition: var(--transition);
}

.project:hover .content {
    top: 0;
}
.project:hover .img {
    transform: translateY(-100%);
}

/* Client */
.client {
    margin-top: -1px;
    margin-left: -1px;
}
.client img {
    opacity: 0.75;
    height: 30px;
}

/* Resume */
#resume #img-headshot {
    max-height: 450px;
    width: auto;
}

.eduexp {
    position: relative;
}

.eduexp::before {
    content: '';
    height: 100%;
    width: 1px;
    background-color: rgba(var(--c-brand-rgb), 0.4);
    position: absolute;
    left: 0;
    top: 0;
}

.eduexp::after {
    content: '';
    height: 14px;
    width: 14px;
    background-color: var(--c-brand);
    position: absolute;
    left: -7px;
    top: 0;
}

/* Blog */
iframe {
    width: 85%;
    height: auto;
}

/* Testimonials */
#testimonials .carousel-control-prev-icon, #testimonials .carousel-control-next-icon {
    background-color: var(--c-brand);
}

#testimonials .carousel-control-prev-icon {
    transform: translateX(-150%);
}

#testimonials .carousel-control-next-icon {
    transform: translateX(150%);
}

#testimonials .ri-star-fill {
    color: var(--c-brand);
}

#testimonials .testimonial-inner {
    height: 100%;
}

#testimonials .testimonial-box {
    width: 75%;
    margin: auto;
    height: 100%;
}

#testimonials .testimonial-text {
    font-size: .85rem;
    overflow: auto;
}

#testimonials .testimonial-carousel {
    margin: auto;
    height: 300px;
    width: 75%;
}

/* Contact */
#contact .form-control {
    border-radius: 0;
}

#contact .form-control:focus {
    box-shadow: none;
    border-color: var(--c-brand);
}

#contact input.form-control {
    height: 44px;
}

/* Footer */
footer {
    background-color: var(--c-dark);
    padding-top: 75px;
}

footer h4 {
    color: white;
}

footer .text-white {
    color: white;
}

footer p, footer li, footer li a {
    color: rgba(255, 255, 255, 0.7);
}

footer ul {
    list-style: none;
    padding: 0;
}

.footer-top {
    padding-bottom: 40px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.footer-bottom {
    padding-top: 40px;
    padding-bottom: 40px;
}

/* Media Queries */
@media (min-width: 992px) {
    .navbar-expand-lg .navbar-nav .nav-link {
        padding-right: 16px;
        padding-left: 16px;
    }

    #navbar {
        padding-right: 50px;
        padding-left: 50px;
    };
}

@media (max-width: 992px) {
    .showcase .text{
        padding-left: 0%;
        padding-top: 25%;
        font-size: .75rem;
    }

    #resume, #resume-about, #services, #blog, #testimonials, #contact, footer {
        padding-left: 7.5%;
        padding-right: 7.5%;
    }

    #testimonials .testimonial-text {
        margin: auto;
        height: 200px;
        overflow: scroll;
    }

@media (max-width: 850px) {
    .navbar-brand img {
        max-width: 150px;
        object-fit: contain;
        margin: 0px;
    }

    .showcase .text{
        padding-left: 0%;
        padding-top: 0;
        margin-top: 60vh;
        font-size: .55rem;
    }
}
}